:root {
  --brightorange: hsl(31, 77%, 52%);
  --darkcyan: hsl(184, 100%, 22%);
  --verydarkcyan: hsl(179, 100%, 13%);
  --transparentwhite: hsla(0, 0%, 100%, 0.75);
  --verylightgray: hsl(0, 0%, 95%);
}

body {
  background-color: var(--verylightgray);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
p {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  color: var(--transparentwhite);
}
h1 {
  font-family: "Big Shoulders Display", cursive;
  color: var(--verylightgray);
}

.card-container {
  display: flex;
  width: 45vw;
  flex-wrap: row wrap;
}

.sedan-container,
.suv-container,
.luxury-container {
  display: flex;
  width: 15vw;
  flex-direction: column;
  align-items: space-around;
}
.sedan-container {
  background-color: var(--brightorange);
  border-radius: 8px 0 0 8px;
}
.suv-container {
  background-color: var(--darkcyan);
}
.luxury-container {
  background-color: var(--verydarkcyan);
  border-radius: 0 8px 8px 0;
}

.sedan-icon,
.suv-icon,
.luxury-icon {
  margin: 2.5rem 2.5rem 0;
}

.card-title {
  margin: 1rem 2.5rem 0;
  font-size: 42px;
}

.body-text {
  margin: 2rem 3rem 2rem 2.5rem;
}

.sedan-learn__btn,
.suv-learn__btn,
.luxury-learn__btn {
  background-color: var(--verylightgray);
  border-radius: 28px;
  margin: 2.4rem 7rem 2.4rem 2.5rem;
  text-align: center;
  border: 1px solid var(--verylightgray);
  transition: background-color 0.5s;
}

.sedan-learn__text,
.suv-learn__text,
.luxury-learn__text {
  margin: 0.75rem auto;
  transition: color 0.5s;
}
.sedan-learn__text {
  color: var(--brightorange);
}
.suv-learn__text {
  color: var(--darkcyan);
}
.luxury-learn__text {
  color: var(--verydarkcyan);
}

.sedan-learn__btn:hover {
  background-color: var(--brightorange);
  cursor: pointer;
}
.suv-learn__btn:hover {
  background-color: var(--darkcyan);
  cursor: pointer;
}
.luxury-learn__btn:hover {
  background-color: var(--verydarkcyan);
  cursor: pointer;
}

.sedan-learn__btn:hover > .sedan-learn__text {
  color: var(--verylightgray);
}
.suv-learn__btn:hover > .suv-learn__text {
  color: var(--verylightgray);
}
.luxury-learn__btn:hover > .luxury-learn__text {
  color: var(--verylightgray);
}
/* TODO: wrap flex cols */
